.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* 透明度为0.9的白色背景 */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px; /* 设置弹窗宽度 */
    max-width: 80%; /* 最大宽度为80% */
    text-align: center; /* 文字居中 */
    background-image: url('../img/addStudent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.popup-form form {
    text-align: left; /* 表单内文字左对齐 */
}

.popup-form label {
    display: inline-block;
    width: 100px; /* 设置标签宽度 */
    text-align: right; /* 标签文字右对齐 */
}

.popup-form input[type="text"],
.popup-form select {
    width: calc(100% - 120px); /* 计算输入框宽度 */
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}
.popup-form select {
    width: calc(100% - 120px); /* 计算输入框宽度 */
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #0056b3;
}
