<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blessingsoftware.kivotos.mapper.StudentInfoMapper">
    <select id="queryStudents" resultType="hashMap">
        select * from student
    </select>

    <insert id="insertStudent" parameterType="hashMap">
        insert into student values (null, #{name}, #{sex}, #{school}, #{school_id}, #{status})
    </insert>

    <update id="updateStudent" parameterType="hashMap">
        update student set name=#{name}, sex=#{sex}, school=#{school}, school_id=#{school_id}, status=#{status} where id=#{id}
    </update>

    <delete id="deleteStudents" parameterType="java.util.List">
        delete from student
        where id in
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </delete>
</mapper>